*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}			
#sidePanel{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
}
	#sideContent{
		height: 100vh;
		float: left;
		-webkit-transition: width .5s;
		-moz-transition: width .5s;
		-o-transition: width .5s;
		transition: width .5s;
		background-color: #f06862;
		overflow: hidden;
	}
		#sideContentInner{
			min-width: 250px;
		}
	#sideButton{
		float: left;
		margin: 5px;
		width: 40px;
		height: 30px;
		background-color: #909090;
		line-height: 30px;
		text-align: center;
	}
.open{
	width: 250px;
	max-width: 250px;
}
.closed{
	width: 0px;
}
